body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e3f2fd, #ffffff);
}

.header {
    background: #0d47a1;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.video-card {
    width: 60%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.status-card {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
}

#statusIndicator {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px 0;
    transition: 0.5s;
}

.safe {
    background-color: #c8e6c9;
    color: #2e7d32;
}

.fall {
    background-color: #ffcdd2;
    color: #b71c1c;
    animation: blink 1s infinite;
}

.info-box {
    margin-top: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background: #0d47a1;
    color: white;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}